
<div class="parent">
        <div class="div3">

<h2>Registro de Viviendas</h2>
        <form [formGroup]="viviendaForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="clusterId" class="form-label">ID del Cluster:</label>
                <input id="clusterId" formControlName="clusterId" type="text" class="form-control">
                <div *ngIf="viviendaForm.get('clusterId')?.invalid && viviendaForm.get('clusterId')?.touched" class="text-danger">
                    El ID del cluster es requerido.
                </div>
            </div>

            <div class="mb-3">
                <label for="numeroCasa" class="form-label">Número de Casa:</label>
                <input id="numeroCasa" formControlName="numeroCasa" type="text" class="form-control">
                <div *ngIf="viviendaForm.get('numeroCasa')?.invalid && viviendaForm.get('numeroCasa')?.touched" class="text-danger">
                    El número de casa es requerido.
                </div>
            </div>

            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección:</label>
                <input id="direccion" formControlName="direccion" type="text" class="form-control">
                <div *ngIf="viviendaForm.get('direccion')?.invalid && viviendaForm.get('direccion')?.touched" class="text-danger">
                    La dirección es requerida.
                </div>
            </div>

            <div class="mb-3">
                <label for="habitaciones" class="form-label">Habitaciones:</label>
                <input id="habitaciones" formControlName="habitaciones" type="number" class="form-control">
                <div *ngIf="viviendaForm.get('habitaciones')?.invalid && viviendaForm.get('habitaciones')?.touched" class="text-danger">
                    Debe haber al menos una habitación.
                </div>
            </div>

            <div class="mb-3">
                <label for="precio" class="form-label">Precio:</label>
                <input id="precio" formControlName="precio" type="number" class="form-control">
                <div *ngIf="viviendaForm.get('precio')?.invalid && viviendaForm.get('precio')?.touched" class="text-danger">
                    El precio debe ser mayor o igual a 0.
                </div>
            </div>

            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
            </div>

            <button type="submit" [disabled]="viviendaForm.invalid" class="btn btn-primary w-100">Registrar Vivienda</button>
        </form>
</div>
    <div class="div5">
         <button (click)="cambiarEstado()" class="btn btn-secondary w-100 mt-3">
            {{ estadoVivienda ? 'Desactivar' : 'Activar' }} Estado
        </button>

    </div>
    <div class="div7">
         <button (click)="ShowTablesRegisters()" class="btn btn-secondary w-100 mt-3">
            {{ estadoVivienda ? 'Mostrar' : 'Ejemplo' }} Estado
        </button>
</div>
</div>
    

 