<div class="container">
  <h1>Control de Acceso</h1>
  <div class="acceso">
    <h2>Registro de Acceso</h2>
    <button (click)="registrarAcceso()">Registrar Acceso</button>
    <ul>
      <li *ngFor="let acceso of accesos">
        {{ acceso.nombre }} - {{ acceso.fecha }}
        <button (click)="verDetalles(acceso)">Ver Detalles</button>
        <button (click)="eliminarAcceso(acceso)">Eliminar</button>
      </li>
    </ul>
  </div>
  
  <div class="registro-accesos">
    <h2>Historial de Accesos</h2>
    <ul>
      <li *ngFor="let registro of historialAccesos">
        {{ registro.nombre }} - {{ registro.fecha }}
      </li>
    </ul>
  </div>
</div>