<div class="background">
  <div class="login-container">
    <div class="logo">
      <img src="../../assets/img/Logo.png" alt="Logo" />
    </div>

    <h1 class="title">Welcome Back</h1>
    <p class="subtitle">Log in to manage your property</p>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="email"
        (input)="error = ''"
        type="email"
        placeholder="you@example.com"
        [disabled]="isLoading"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        (input)="error = ''"
        type="password"
        placeholder="Enter your password"
        [disabled]="isLoading"
        required
      />
    </mat-form-field>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="handleLogin()"
      [disabled]="isLoading"
    >
      <span *ngIf="!isLoading">Log In</span>
      <mat-spinner *ngIf="isLoading" diameter="20" class="spinner"></mat-spinner>
    </button>

    <div class="links">
      <p class="link" (click)="navigateToForgotPassword()">
        Forgot your password?
      </p>
      <p class="link" (click)="navigateToRegister()">
        Don't have an account? <span>Register here</span>
      </p>
    </div>
  </div>
</div>
