<div class="parent">
    <div class="div3">
<div class="login-container">
    <div class="login-card">
      <h1>Login</h1>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" required />
        </mat-form-field>
  
        <button mat-raised-button color="primary"   [routerLink]="['/home']"class="login-button">
          Login
        </button>

        <!-- Crear un Crear una usuario y un subrallado lijero y que sea clieable-->
        <div class="create-account">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="create-account-link">Crear una cuenta</a>
          </div>
         
       <!-- Crear una animacion donde este una animacion de carga cada vez que se produsca un evento click en los botones-->
      </form>
    </div>
</div>
</div>