<div class="sidebar" [class.collapsed]="isCollapsed">
    <!-- Botón para ocultar/desplegar el sidebar -->
    <button class="toggle-button" (click)="toggleSidebar()">
        <img src="./iconslide.png" alt="Logo" class="logo">
    </button>

    <!-- Divisor -->
    <mat-divider></mat-divider>

    <!-- Lista principal de elementos del menú -->
    <div class="sidebar-item" *ngFor="let item of menuItems">
        <button [routerLink]="item.route" routerLinkActive="active">
            <mat-icon class="icon">{{ item.icon }}</mat-icon>
            <span class="label">{{ item.label }}</span>
        </button>
    </div>

    <!-- Divisor -->
    <mat-divider></mat-divider>

    <!-- Lista de elementos del menú al final (por ejemplo, "Configuraciones de usuario" y "Cerrar sesión") -->
    <div class="sidebar-item" *ngFor="let item of lastMenuItems">
        <footer class="lasticons">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span class="label">{{ item.label }}</span>
        </footer>
    </div>
</div>