<div class="container">
  <h1>Gestión de Residencia</h1>
  <div class="residentes">
    <h2>Lista de Residentes</h2>
    <button (click)="agregarResidente()">Agregar Residente</button>
    <ul>
      <li *ngFor="let residente of residentes">
        {{ residente.nombre }} - {{ residente.edad }} años
        <button (click)="editarResidente(residente)">Editar</button>
        <button (click)="eliminarResidente(residente)">Eliminar</button>
      </li>
    </ul>
  </div>
  
  <div class="futuros-residentes">
    <h2>Futuros Residentes</h2>
    <ul>
      <li *ngFor="let futuroResidente of futurosResidentes">
        {{ futuroResidente.nombre }} - {{ futuroResidente.edad }} años
      </li>
    </ul>
  </div>
</div>
