
$transition-speed: 0.3s ease-in-out;

@mixin transition($properties...) {
  transition: $properties $transition-speed;
}

/* Ajuste de las medidas del sidebar en el contenedor principal */
.parent {
  display: flex;
  transition: margin-left $transition-speed ease-in-out;
}

.mainContent {
  transition: margin-left $transition-speed ease-in-out;
  padding: 20px;
  margin-left: 250px; /* Ajuste para cuando el sidebar está expandido */
}

.parent.sidebar-collapsed .mainContent {
  margin-left: 80px; /* Ajuste para cuando el sidebar está colapsado */
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px; /* El sidebar será más pequeño en pantallas móviles */
    .menu {
      margin-top: 60px;
    }
  }

  .mainContent {
    margin-left: 0; /* El margin se ajusta a 0 en pantallas pequeñas */
  }

  .parent.sidebar-collapsed .mainContent {
    margin-left: 0;
  }
}
