@use 'sass:color';

$background-color: #F5F5F5;
$primary-color: #FFFFFF;
$secondary-color: #E0E0E0;
$accent-color: #607D8B;
$text-color: #37474F;
$error-color: #D32F2F;
$success-color: #4CAF50;
$danger-color: #f44336;
